<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- phone screen HTML/CSS template not mine. Open source from https://github.com/marvelapp/devices.css --}}
    <link rel="stylesheet" href="/css/devices.min.css" type="text/css">
    {{!-- stylesheet --}}
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    {{!-- font --}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&display=swap" rel="stylesheet">
    {{!-- <title>Sign School</title> --}}
</head>

<body>
    <div class="phoneScreen">
        <div class="marvel-device iphone-x">
            <div class="notch">
                <div class="camera"></div>
                <div class="speaker"></div>
            </div>
            <div class="top-bar"></div>
            <div class="sleep"></div>
            <div class="bottom-bar"></div>
            <div class="volume"></div>
            <div class="overflow">
                <div class="shadow shadow--tr"></div>
                <div class="shadow shadow--tl"></div>
                <div class="shadow shadow--br"></div>
                <div class="shadow shadow--bl"></div>
            </div>
            <div class="inner-shadow"></div>
            <div class="screen">
                <!-- Content goes here -->
                <div class="screenwrapper">
                    <div class="wrapper">
                        <div class="topInfo">
                            <h3 class="topTitle">{{title}}</h3>
                            <input type="text" placeholder="Search" class="searchBar">
                        </div>
                        <section>
                            {{{body}}}
                        </section>
                    </div>
                    <footer class="fouder">
                        <div class="icon home"><a href="/"><img src="/img/d-home.png"></a></div>
                        <div class="icon explore"><a href="/explore"><img src="/img/d-explore.png"></a></div>
                        <div class="icon practice"> <a href="/practice"><img src="/img/d-practice.png"></a></div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</body>

</html>