<div class="explore-content">
    <div class="explore-box">
        <div class="explore-wrap">
            <div class="explore-title">
                <h2 class="h2-ex">Basic Greetings</h2>
                <p class="p-ex">10 Signs</p>
            </div>
            <div class="prog-exp">
                <p class="p-exp">65% Complete</p>
                <div class="light exp">
                    <div class="dark exp"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="explore-box">
        <div class="explore-wrap">
            <div class="explore-title">
                <h2 class="h2-ex">Basic Greetings</h2>
                <p class="p-ex">10 Signs</p>
            </div>
            <div class="prog-exp">
                <p class="p-exp">65% Complete</p>
                <div class="light exp">
                    <div class="dark exp"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="explore-box">
        <div class="explore-wrap">
            <div class="explore-title">
                <h2 class="h2-ex">Basic Greetings</h2>
                <p class="p-ex">10 Signs</p>
            </div>
            <div class="prog-exp">
                <p class="p-exp">65% Complete</p>
                <div class="light exp">
                    <div class="dark exp"></div>
                </div>
            </div>
        </div>
    </div>
</div>