<div class="titles">
    <h2 class="h2-title">Daily Review</h2>
    <p class="p-title"><a href="/practice">View All</a></p>
</div>
<div class="home-content-1">
    <a href="/review">
        <div class="content-box c1">
            <h3 class="h3-title">Signing the Alphabet</h3>
        </div>
    </a>
    <a href="/review">
        <div class="content-box c2">
            <h3 class="h3-title">Learn to Count</h3>
        </div>
    </a>
</div>
<div class="titles">
    <h2 class="h2-title">Explore</h2>
    <p class="p-title"><a href="/explore">View All</p></a>
</div>
<div class="home-content-2">
    <a href="/lesson">
        <div class="vertical-box b1">
            <h3 class="v-h3-title">Animals</h3>
        </div>
    </a>
    <a href="/lesson">
        <div class="vertical-box b3">
            <h3 class="v-h3-title">Greetings</h3>
        </div>
    </a>
    <a href="/lesson">
        <div class="vertical-box b4">
            <h3 class="v-h3-title">Emotions</h3>
        </div>
    </a>
    <a href="/lesson">
        <div class="vertical-box b2">
            <h3 class="v-h3-title">Holidays</h3>
        </div>
    </a>
</div>