<div class="img-info">
    <div class="bigImg">
    </div>
</div>
<div class="emotions">
        <h2>Emotions</h2>
    <div class="item">
        <p>1. Happy</p>
    </div>
    <div class="item">
        <p>2. Sad</p>
    </div>
    <div class="item">
        <p>3. Silly</p>
    </div>
    <div class="item">
        <p>4. Upset</p>
    </div>
    <div class="item">
        <p>5. Hurt</p>
    </div>
    <div class="item">
        <p>6. Confident</p>
    </div>
    <div class="item">
        <p>7. Angry</p>
    </div>
</div>