<div class="img-info">
    <div class="bigImg">
    </div>
</div>
<div class="emotions">
        <h2>Emotions</h2>

    <div class="item">
        <p>1. Happy</p>
    </div>
    <div class="item">
        <p>1. Happy</p>
    </div>
    <div class="item">
        <p>1. Happy</p>
    </div>
    <div class="item">
        <p>1. Happy</p>
    </div>
    <div class="item">
        <p>1. Happy</p>
    </div>
    <div class="item">
        <p>1. Happy</p>
    </div>
    <div class="item">
        <p>1. Happy</p>
    </div>
</div>