<div class="titles">
    <h2 class="h2-title">Level 1</h2>
    <p class="p-title">60% Complete</p>
</div>
<div class="light lvl">
    <div class="dark lvl"></div>
</div>
<div class="titles">
    <h2 class="h2-title">Daily Review</h2>
    <p class="p-title">Level 1</p>
</div>
<div class="practice-content-1">
    <a href="/review">
        <div class="practice-box">
            <div class="practice-wrap">
                <div class="titles prac">
                    <h3 class="h3-title prac">Alphabet A-Z</h3>
                    <p class="p-progress">65% Complete</p>
                </div>
                <div class="light con">
                    <div class="dark con"></div>
                </div>
            </div>
        </div>
    </a>
    <a href="/review">
        <div class="practice-box">
            <div class="practice-wrap">
                <div class="titles prac">
                    <h3 class="h3-title prac">Numbers 1-20</h3>
                    <p class="p-progress">65% Complete</p>
                </div>
                <div class="light con">
                    <div class="dark con"></div>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="h2prac2">
    <h2>Lesson Review</h2>
</div>
<div class="practice-content-1">
    <a href="/review">
        <div class="practice-box">
            <div class="practice-wrap">
                <div class="titles prac">
                    <h3 class="h3-title prac">Basic Greetings</h3>
                    <p class="p-progress">50% Complete</p>
                </div>
                <div class="light con">
                    <div class="dark con"></div>
                </div>
            </div>
        </div>
    </a>
    <a href="/review">
        <div class="practice-box">
            <div class="practice-wrap">
                <div class="titles prac">
                    <h3 class="h3-title prac">Emotions</h3>
                    <p class="p-progress">20% Complete</p>
                </div>
                <div class="light con">
                    <div class="dark con"></div>
                </div>
            </div>
        </div>
    </a>
    <a href="/review">
        <div class="practice-box">
            <div class="practice-wrap">
                <div class="titles prac">
                    <h3 class="h3-title prac">Conversation</h3>
                    <p class="p-progress">65% Complete</p>
                </div>
                <div class="light con">
                    <div class="dark con"></div>
                </div>
            </div>
        </div>
    </a>
</div>