<div class="wrap-rev">
    <div class="bigImg rev"></div>
    <div class="bar">
        <div class="light exp">
            <div class="dark exp"></div>
        </div>
    </div>
    <div class="questions">
        <h2>Which greeting is this sign?</h2>
    </div>
    <div class="answers">
        <p>1. Good Morning</p>
        <p>2. Good Night</p>
        <p>3. Goodbye</p>
    </div>
    <div class="a-button">
        <div class="next">Next
        </div>
    </div>
</div>